<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js"
	integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<h4>Dashboard</h4>
<div class="container-fluid py-4">
	<div class="row">
		<div class="col-md-3">
			<div class="card">
				<div class="card-body p-3">
					<div class="row">
						<div class="col-9">
							<div>
								<p class="text-sm mb-0 text-capitalize font-weight-bold">Today's
									Profit</p>
								<h5 class="font-weight-bolder mb-0">
									{{todayProfit}}
								</h5>
							</div>
						</div>
						<div class="col-3 justify-content-center align-items-center d-flex">
							<i class="fa-solid fa-sack-dollar fa-2xl" style="color: #1f8118;"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card">
				<div class="card-body p-3">
					<div class="row">
						<div class="col-9">
							<div>
								<p class="text-sm mb-0 text-capitalize font-weight-bold">Today's
									Sale</p>
								<h5 class="font-weight-bolder mb-0">
									{{todaySale}}
								</h5>
							</div>
						</div>
						<div class="col-3 justify-content-center align-items-center d-flex">
							<i class="fa-solid fa-cart-shopping fa-2xl" style="color: #e01a42;"></i>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="col-md-3">
			<div class="card">
				<div class="card-body p-3">
					<div class="row">
						<div class="col-9">
							<div>
								<p class="text-sm mb-0 text-capitalize font-weight-bold">Today's
									Order</p>
								<h5 class="font-weight-bolder mb-0">
									{{todayOrder}}
								</h5>
							</div>
						</div>
						<div class="col-3 justify-content-center align-items-center d-flex">
							<i class="fa-solid fa-truck-fast fa-2xl" style="color: #3fd9b3;"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card">
				<div class="card-body p-3">
					<div class="row">
						<div class="col-9">
							<div>
								<p class="text-sm mb-0 text-capitalize font-weight-bold">Today's
									Products Sold</p>
								<h5 class="font-weight-bolder mb-0">
									{{todayProduct}}
								</h5>
							</div>
						</div>
						<div class="col-3 justify-content-center align-items-center d-flex">
							<i class="fa-solid fa-mobile-screen-button fa-2xl" style="color: #12799b;"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="row mt-4">
		<div class="card z-index-2 h-100">
			<div class="card-header pb-0 pt-3 bg-transparent border-0">
			</div>
			<div class="card-body p-3">
				<div class="chart">
					<canvas id="chart-line" class="chart-canvas" height="400"></canvas>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="container table-responsive order-table mt-4 pt-2 px-2">
			<div class="row pt-2 mx-2">
				<h6 class="text-capitalize mb-4">Newest Orders</h6>
				<table class="table table-responsive table-borderless align-middle table-hover">
					<thead class="table-info">
						<tr class="bg-light">
							<th scope="col" width="5%">#</th>
							<th scope="col" width="15%">Customer</th>
							<th scope="col" width="30%">Address</th>
							<th scope="col" class="text-center" width="15%">Date</th>
							<th scope="col" class="text-center" width="10%">Total</th>
							<th scope="col" class="text-center" width="10%">Status</th>
						</tr>
					</thead>
					<tbody>
						{{#each orderList}}
						<tr>
							<td>#{{orderId}}</td>
							<td>{{name}}</td>
							<td>{{address}}</td>
							<td class="text-center">{{timeOrder}}</td>
							<td class="text-center"><span class="fw-bolder">{{totalCost}}</span></td>
							<td class="text-center"><span class="fw-bolder">{{status}}</span></td>
						</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>

	</div>
</div>
<input hidden type="text" value="{{token}}" id="token">
<input hidden type="text" value="{{fullname}}" id="fullname">
<input hidden type="text" value="{{email}}" id="email">
<script>
	localStorage.setItem("token", document.getElementById("token").value);
	localStorage.setItem("fullname", document.getElementById("fullname").value);
	localStorage.setItem("email", document.getElementById("email").value);
</script>