<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/product/img/favicon.ico">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <title>Forgot password page</title>
  <style>
    body {
      background-color: #f2f3f8;
    }

    .card {
      margin-bottom: 1.5rem;
      box-shadow: 0 1px 15px 1px rgba(52, 40, 104, .08);
    }

    .card {
      position:
        relative;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 1px solid #e5e9f2;
      border-radius: .2rem;
    }
  </style>
</head>

<body>
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
        <div class="d-table-cell align-middle">
          <div class="text-center mt-2">
            <h1 class="h2">Reset password</h1>
            {{#if show}}
            <p class="lead">
              Please check your mail:
              <b>{{email}}</b>
              to get code.
            </p>
            {{else}}
            <p class="lead">
              Enter your email to reset your password.
            </p>
            {{/if}}

          </div>

          <div class="card">
            <div class="card-body">
              <div class="m-sm-4">
                {{#if message}}
                <div class="alert alert-danger" role="alert">
                  {{message}}
                </div>
                {{/if}}
                <form method="post" action="/auth/forgotPassword">
                  <div class="form-group">
                    {{#if show}}
                    <label class="mt-1">Code</label>
                    <input class="form-control form-control-lg" type="text" name="code" value="{{code}}"
                      placeholder="Enter code" required />
                    <label class="mt-1">New password</label>
                    <input class="form-control form-control-lg" type="password" name="password" value="{{password}}"
                      placeholder="Enter new password" id="password" required />
                    <label class="mt-1">Retype new password</label>
                    <input class="form-control form-control-lg" type="password" id="password_retype"
                      placeholder="Enter new password" required />
                    <input name="email" value="{{email}}" hidden />
                    {{else}}
                    <label>Email</label>
                    <input class="form-control form-control-lg" type="email" name="email" placeholder="Enter your email"
                      required />
                    {{/if}}
                  </div>
                  <div class="text-center mt-3">
                    <button type="submit" class="btn btn-lg btn-primary">
                      {{#if show}}
                      Reset Password
                      {{else}}
                      Get Code
                      {{/if}}
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  {{#if toast}}
  <div class="d-none" id="toastSuccess">hi</div>
  {{/if}}
  <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="changePass" class="toast hide bg-success text-white" role="alert" aria-live="assertive" aria-atomic="true"
      data-bs-autohide="false">
      <div class="toast-header">
        <strong class="me-auto">Notification</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Mật khẩu của bạn đã được cập nhật
        <br />Redirect Login Page in 2 seconds...
      </div>
    </div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
  integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
  integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="../js/validate.js"></script>
<script>
  if (document.getElementById("toastSuccess")?.innerText == "hi") {
    var toast =
      document.getElementById("changePass"); var bsToast = new
        bootstrap.Toast(toast); bsToast.show(); setTimeout(function () {
          window.location.href = "/auth/login";
        }, 2000);
  }
</script>

</html>