<section>
    <div class="banner">
        <div class="owl-carousel owl-theme owl-loaded owl-drag">
            <div class="owl-stage-outer">
                <div class="owl-stage"
                    style="transition: all 0.45s ease 0s; width: 17400px; transform: translate3d(-10222px, 0px, 0px);">
                    <div class="owl-item" style="width: 770px; margin-right: 100px;">
                        <div class="item">
                            <a target="_blank" href="img/banners/banner0.gif">
                                <img src="img/banners/banner0.gif">
                            </a>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 770px; margin-right: 100px;">
                        <div class="item">
                            <a target="_blank" href="img/banners/banner1.png">
                                <img src="img/banners/banner1.png">
                            </a>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 770px; margin-right: 100px;">
                        <div class="item">
                            <a target="_blank" href="img/banners/banner2.png">
                                <img src="img/banners/banner2.png">
                            </a>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 770px; margin-right: 100px;">
                        <div class="item">
                            <a target="_blank" href="img/banners/banner3.png">
                                <img src="img/banners/banner3.png">
                            </a>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 770px; margin-right: 100px;">
                        <div class="item">
                            <a target="_blank" href="img/banners/banner4.png">
                                <img src="img/banners/banner4.png">
                            </a>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 770px; margin-right: 100px;">
                        <div class="item">
                            <a target="_blank" href="img/banners/banner5.png">
                                <img src="img/banners/banner5.png">
                            </a>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 770px; margin-right: 100px;">
                        <div class="item">
                            <a target="_blank" href="img/banners/banner6.png">
                                <img src="img/banners/banner6.png">
                            </a>
                        </div>
                    </div>
                    <div class="owl-item active center" style="width: 770px; margin-right: 100px;">
                        <div class="item">
                            <a target="_blank" href="img/banners/banner7.png">
                                <img src="img/banners/banner7.png">
                            </a>
                        </div>
                    </div>
                    <div class="owl-item active" style="width: 770px; margin-right: 100px;">
                        <div class="item">
                            <a target="_blank" href="img/banners/banner8.png">
                                <img src="img/banners/banner8.png">
                            </a>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 770px; margin-right: 100px;">
                        <div class="item">
                            <a target="_blank" href="img/banners/banner9.png">
                                <img src="img/banners/banner9.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span
                        aria-label="Previous">‹</span></button><button type="button" role="presentation"
                    class="owl-next"><span aria-label="Next">›</span></button></div>
        </div>
    </div> <!-- End Banner -->

    <img src="img/banners/blackFriday.gif" alt="" style="width: 100%;">

    <br>

    <!-- Div hiển thị khung sp hot, khuyến mãi, mới ra mắt ... -->
    <div class="contain-khungSanPham">
        {{#each listproducts}}
        <div class="khungSanPham" style="border-color: {{color1}}">
            <h3 class="tenKhung"
                style="background-image: linear-gradient(120deg, {{color1}} 0%, {{color2}} 50%, {{color1}} 100%);">*
                {{uppercase name}}
                *</h3>
            <div class="listSpTrongKhung flexContain">
                {{#each home}}
                <li class="sanPham">
                    <a href="/product/detailProducts?id={{productId}}">
                        <img src="{{image}}" alt="">
                        <h3>{{name}}</h3>
                        <div class="price">
                            <strong>{{convertToVND giagiam}}</strong>
                            <span>{{convertToVND price}}</span>
                        </div>
                        <div class="ratingresult">
                            {{{showRating tb}}}
                            <span>{{danhgia}} đánh giá</span>
                        </div>


                    </a>
                </li>
                {{/each}}
            </div>
            <a class="xemTatCa" href="/showall" style="	border-left: 2px solid {{color1}};
                        border-right: 2px solid {{color1}};" data-name="{{name}}">
                Xem tất cả các sản phẩm
            </a>
        </div>
        <hr>
        {{/each}}
    </div>
</section>

<div class="plc">
    <section>
        <ul class="flexContain">
            <li>Giao hàng hỏa tốc trong 1 giờ</li>
            <li>Thanh toán linh hoạt: tiền mặt, visa / master, trả góp</li>
            <li>Trải nghiệm sản phẩm tại nhà</li>
            <li>Lỗi đổi tại nhà trong 1 ngày</li>
            <li>Hỗ trợ suốt thời gian sử dụng.
                <br>Hotline:
                <a href="tel:12345678" style="color: #288ad6;">12345678</a>
            </li>
        </ul>
    </section>
</div>


<i class="fa fa-arrow-up" id="goto-top-page" onclick="gotoTop()"></i>
<!-- Code injected by live-server -->
<input hidden type="text" value="{{token}}" id="token">
<input hidden type="text" value="{{fullname}}" id="fullname">
<input hidden type="text" value="{{email}}" id="email">

<script>
    let tk = document.getElementById("token");
    localStorage.setItem("token", tk.value);
    localStorage.setItem("fullname", document.getElementById("fullname").value);
    localStorage.setItem("email", document.getElementById("email").value);
    function themvaogio(btn) {
        let idProduct = btn.getAttribute("id")
        let idUser = localStorage.getItem("ipUser")
        var currentDate = new Date();
        // Get the components of the date (year, month, day)
        var year = currentDate.getFullYear();
        var month = (currentDate.getMonth() + 1).toString().padStart(2, '0'); // Adding 1 because months are zero-based
        var day = currentDate.getDate().toString().padStart(2, '0');
        // Construct the formatted date string
        var formattedDate = year + '-' + month + '-' + day;

        let data = { userId: idUser, productId: idProduct, quantity: 1, timeAddtoCart: formattedDate };
        $.ajax({
            type: "GET",
            url: `/cart/insertCart`,
            data: data,
            contentType: 'application/json',
            dataType: "json",
            success: function (data) {
                alert("Thêm vào giỏ hàng thành công")
            },
            error: function (result) {
                console.log("Thêm vào giỏ hàng thất bại")
            }
        });
    }

    $(document).ready(function(){
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            items: 1.5,
            margin: 100,
            center: true,
            loop: true,
            smartSpeed: 450,
            autoplay: true,
            autoplayTimeout: 3500
        });
    });

    $('.xemTatCa').click(function(event) {
        // Ngăn chặn hành vi mặc định của liên kết
        event.preventDefault();
        // Lấy giá trị 'name' từ thuộc tính 'data-name' của liên kết
        var name = $(this).attr('data-name');
        console.log(name);
        // Lưu giá trị 'name' vào biến toàn cục
        localStorage.setItem('data123', name);
        // Chuyển hướng đến trang /showall
        window.location.href = $(this).attr('href');
    });
</script>