<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>

<body>
    <div class="container">

        <table class="table table-sm table-borderless">
            <thead>
                <tr class="table-primary  border-bottom border-black">
                    <th>#</th>
                    <th>orderID</th>
                    <th>userID</th>
                    <th>address</th>
                    <th>reciverName</th>
                    <th>phoneNumber</th>
                    <th>totalCost</th>
                    <th>isPayment</th>
                    <th>status</th>
                </tr>
            </thead>
            <tbody id="content">

                <tr>
                    <td class="py-3"><b>{{orderID}}</b></td>
                    <td class="py-3"><b>{{userID}}</b></td>
                    <td class="py-3">{{address}}</td>
                    <td class="py-3">{{reciverName}}</td>
                    <td class="py-3">{{phoneNumber}}</td>
                    <td class="py-3">{{totalCost}}</td>
                    <td class="py-3">{{isPayment}}</td>
                    <td class="py-3">{{status}}</td>
                </tr>

            </tbody>
        </table>
    </div>
</body>
</html>